<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-20logger{0} %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="test-debug-file" class="ch.qos.logback.core.FileAppender">
		<file>logs/project-test-log.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS+Z} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.github" level="DEBUG" additivity="false">
		<appender-ref ref="test-debug-file" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>